<!-- <p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/cashopping.png" height="40" class="mr-2" routerLink="/" />
    
  </ng-template>

  <ng-template pTemplate="end">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchTerm"
      (keyup)="search($event)"
      placeholder="Search products"
    />
  </ng-template>

</p-menubar>

<div class="d-flex flex-row-reverse">
  <div class="p-2">
    <button routerLink="cart" class="btn btn-success">
      <i style="font-size: 20px" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px" class="badge bg-danger">{{ totalItem }}</div>
    </button>
  </div>
</div> -->