.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 34px;
    
}



.item {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.item a:hover {
    color: blue;
}

.card {
    padding: 20px;
    margin: 30px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-10px);
    
}





.content{
    padding: .5rem 1rem;
}



