<!-- Jumbotron -->
<!-- <div class="relative flex items-center justify-center py-16 bg-gray-50 sm:py-24 lg:py-32 mb-16">
  <div class="absolute inset-0 bg-gradient-to-r from-teal-500 to-cyan-600 dark:from-neutral-700 dark:to-neutral-800"
    aria-hidden="true"></div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="mx-auto text-lg text-center max-w-4xl">
      <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-4xl lg:text-5xl">
        <span class="block mb-6">I am learning Tailwind Elements</span>
        <span class="block text-3xl">and it's awesome</span>
      </h1>
      <p class="mt-6 text-xl text-teal-50 max-w-3xl mb-6">
        Tailwind Elements is a fantastic library, offering reusable UI components that save development time,
        ensure
        design consistency, and boost productivity. Its seamless integration with Tailwind CSS enables
        effortless
        customization.
      </p>

      <a role="button" href="https://tailwind-elements.com/learn/te-foundations/basics/introduction/" target="_blank"
        class="inline-block rounded bg-neutral-50 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-neutral-800 shadow-[0_4px_9px_-4px_#cbcbcb] transition duration-150 ease-in-out hover:bg-neutral-100 hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]">
        Learn with me
      </a>

    </div>
  </div>
</div> -->




<div class="card-top container-fluid mt-5">
  <div class="container d-flex">
    <div class="item" style="cursor: pointer">
      <a (click)="filter('')">
        <p-chip label="All&nbsp;Products" [removable]="true"> </p-chip>
      </a>
    </div>
    <div class="item" style="cursor: pointer">
      <a (click)="filter('electronics')">
        <p-chip label="Electronics" [removable]="true"> </p-chip>
      </a>
    </div>

    <div class="item d-sm-block d-none" style="cursor: pointer">
      <a (click)="filter('fashion')">
        <p-chip label="Fashion" [removable]="true"> </p-chip>
      </a>
    </div>

    <div class="item d-sm-block d-none" style="cursor: pointer">
      <a (click)="filter('jewelery')">
        <p-chip label="Jewelery" [removable]="true"> </p-chip>
      </a>
    </div>
  </div>

  <div class="row d-sm-none d-block">
    <div class="container d-flex">
      <div class="item" style="cursor: pointer">
        <a (click)="filter('fashion')">
          <p-chip label="Fashion" [removable]="true"> </p-chip>
        </a>
      </div>

      <div class="item" style="cursor: pointer">
        <a (click)="filter('jewelery')">
          <p-chip label="Jewelery" [removable]="true"> </p-chip>
        </a>
      </div>
    </div>
  </div>
</div>

<p-scrollTop></p-scrollTop>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of filterCategory | filter : searchKey : 'title'">
      <div class="card col-md-3 shadow-2">
        <a routerLink="/product/{{ item.id }}" class="">
          <img src="{{ item.image }}" alt="" /></a>
        <h5 style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
          {{ item.title }}
        </h5>
        <p style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
          {{ item.description }}
        </p>
        <p-rating [ngModel]="val3" [readonly]="true" [stars]="item.rating.rate" [cancel]="false"></p-rating>
        <p><strong>Price:</strong> ${{ item.price }}</p>

        <button pButton pRipple label="View&nbsp;detail" routerLink="/product/{{ item.id }}"></button>
      </div>
    </ng-container>
  </div>
</div>

<p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>